* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Poppins';*/
}

body {
    transition: transform 0.8s ease;
    font-family: 'Comfortaa', sans-serif; /* Zmień 'Roboto' na wybrany font */
    font-size: 16px; /* Opcjonalnie, możesz ustawić rozmiar czcionki */
    line-height: 1.5; /* Opcjonalnie, możesz ustawić wysokość wiersza */
    color: #333; /* Kolor tekstu (opcjonalnie) */
}

h1, h2, h3 {
    font-family: 'Comfortaa', sans-serif;
}

p {
    font-family: 'Comfortaa', sans-serif;
}

b {
    font-weight: 700; /* Możesz zmienić wartość na 400, 700, 900 itp. */
}

.slide-up {
    transform: translateY(-100vh);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    position: relative;
}

.content {
    text-align: center;
    z-index: 1; 
}

.content h1 {
    font-size: 95px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: -350px; 
}

.button {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.background-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}
.escape{
    color: #fff;
    text-align: center;
    z-index: 1; 
}
@media (min-aspect-ratio: 16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}
.logo {
    position: fixed; 
    top: 20px;
    left: 20px;
    z-index: 10; 
}

.logo img {
    width: 250px; 
    height: auto;
    display: block;
}
#scrollbar {
    -webkit-appearance: none; 
    appearance: none;
    background: #ddd; 
    height: 8px; 
    border-radius: 5px; 
}

#scrollbar::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 16px; 
    height: 16px; 
    border-radius: 50%; 
    background: #fff; 
}